.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
.btn-img {
    width: 160px; /* было 220 → стало меньше */
    height: auto;
    border-radius: 25px;
    transition: all 0.25s ease;
}

.btn-img:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 10px rgba(123,47,247,0.6));
}
.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
